# Файлы окружения
.env
.env.local

# Базы данных
*.sqlite3
*.db

# Питон
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Статические файлы (после сборки)
staticfiles/

# Медиа файлы (если не храните в Git)
media/

# IDE
.vscode/
.idea/